{% extends "base.html" %}
{% block title %}
    {{ block.super }} - регистрация
{% endblock %}
{% block content %}
    {% for e in form.non_field_errors %}
        <div>{{ e }}</div>
    {% endfor %}
    <form method='post' action='/signup/'>
        <fieldset>
        {% csrf_token %}
            {% for field in form %}
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
            {% endfor %}
            <input type="submit" value="Зарегистрироваться">
        </fieldset>
    </form>
{% endblock %}
